{% extends "admin/base.html" %}

{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block title %}{{ title }} | enguru_auction{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">enguru_auction administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
