{% extends "rest_framework/base.html" %}

{# Override this template in your own templates directory to customize #}
{% block title %}enguru_auction API{% endblock %}
{% block branding %}<a style="font-size: 15px; line-height: 2.428571; color: white; text-decoration: none !important;" class='brand' rel="nofollow" href='/api/'>enguru_auction API <span class="version">0.1.0-dev</span></a>{% endblock %}
